<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>О футболе</title>
</head>
<body>
    <header>
        <a href="about">О себе</a>
        <a href="contact">Контакты</a>
        <a href="portfolio">Портфолио</a>
        <a href="services">Сервис</a>
    </header>
    <h1>Описание игры по футболу</h1>

    <p>Футбол - это командная спортивная игра, которая играется между двумя командами. Каждая команда стремится забить мяч в ворота соперника, используя только ноги или любую другую часть тела, кроме рук (за исключением вратаря).</p>

    <img src="/img/football.jpg" alt="Футбол" width="500">

    <p>Основные правила игры по футболу:</p>
    <ul>
        <li>Игра проводится на прямоугольном поле, разделенном на две половины.</li>
        <li>Каждая команда состоит из 11 игроков, включая вратаря.</li>
        <li>Цель игры - забить мяч в ворота соперника и предотвратить противнику забить гол в свои ворота.</li>
        <li>Игра длится 90 минут, разделенных на два тайма по 45 минут каждый.</li>
        <li>Команда, забившая больше голов, побеждает.</li>
    </ul>

    <p>Футбол является самой популярной спортивной игрой в мире и имеет множество фанатов по всему глобальному масштабу. Он требует навыков, таких как пас, дриблинг, удар по мячу и тактическое понимание игры.</p>
</body>
</html>