<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>contact</title>
</head>
<body>
    <header>
        <a href="about">О себе</a>
        <a href="contact">Контакты</a>
        <a href="portfolio">Портфолио</a>
        <a href="services">Сервис</a>
    </header>

    <div class="content">
        <h1>Российские футболисты</h1>
        <p>Вот некоторые известные российские футболисты:</p>
        <ul>
            <li>Андрей Аршавин</li>
            <li>Игорь Акинфеев</li>
            <li>Алан Дзагоев</li>
            <li>Артем Дзюба</li>
            <li>Денис Черышев</li>
        </ul>

        <h1>Обо мне</h1>
        <p>Я веб-разработчик из России. У меня есть страсть к футболу, и я с удовольствием создаю веб-сайты, связанные с этим видом спорта. Если у вас есть вопросы или вам нужна помощь, не стесняйтесь связаться со мной.</p>

        <h1>Портфолио</h1>
        <p>Вот некоторые из футбольных веб-сайтов, над которыми я работал:</p>
        <ul>
            <li>Портал новостей о футболе</li>
            <li>Статистика футбола</li>
            <li>Официальный веб-сайт футбольного клуба</li>
        </ul>

        <h1>Услуги</h1>
        <p>Я предлагаю следующие услуги в области веб-разработки:</p>
        <ul>
            <li>Дизайн и разработка веб-сайтов</li>
            <li>Адаптивный веб-дизайн</li>
            <li>Поддержка и обновление веб-сайтов</li>
        </ul>
    </div>
</body>
</html>