<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Gh\</title>
</head>
<body class="One_body">
    <div class="one_div">
        <form action="about">
            <input type="submit" value="Нажми и заходи!" class="one_submit" />
        </form>
    </div>
</body>
</html>