<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>портфолио</title>
</head>
<body>
    <script>   function toggleDescription(id) {
        var description = document.getElementById(id);
        description.classList.toggle("hidden");
    }
    </script>
    <header>
        <a href="about">О себе</a>
        <a href="contact">Контакты</a>
        <a href="portfolio">Портфолио</a>
        <a href="services">Сервис</a>
    </header>
    <div class="card">
        <img src="/img/Arsh.jpg" alt="Футболист 1">
        <h3>Андрей Аршавин</h3>
        <p id="description1" class="hidden">Андрей Аршавин - известный российский футболист, который родился 29 мая 1981 года в городе Ленинграде (ныне Санкт-Петербург). Он стал одним из самых ярких и талантливых футболистов своего поколения.

            Аршавин начал свою профессиональную карьеру в футбольном клубе "Зенит" в 2000 году. В составе "Зенита" он проявил себя как техничный и атакующий полузащитник, который отличается отличным владением мячом и хорошими навыками в передаче и заключении контрактов.
            
            Своими высокими результатами Аршавин привлек внимание крупных европейских клубов. В 2009 году он перешел в английский "Арсенал", где стал одним из ключевых игроков команды. В составе "Арсенала" Аршавин проявил себя как опасный бомбардир, способный забивать голы и создавать опасность для обороны соперников.
            
            Помимо своих успехов на клубном уровне, Аршавин также является важным игроком сборной России. Он принял участие в нескольких чемпионатах мира и европы, где проявил свою талантливую игру и важность для команды.
            
            Андрей Аршавин - это не только талантливый футболист, но и образец профессионализма и преданности своему делу. Его техника, интеллект и великолепная игра делают его одним из самых заметных игроков в мире футбола.</p>
        <button onclick="toggleDescription('description1')">Показать описание</button>
    </div>
    <div class="card">
        <img src="/img/Akinf.jpg" alt="Футболист 2">
        <h3>Игорь Акинфеев</h3>
        <p id="description2" class="hidden">Игорь Акинфеев - известный российский футболист, который родился 8 апреля 1986 года в городе Волгограде. Он является одним из самых успешных и уважаемых вратарей в истории российского футбола.

            Акинфеев начал свою профессиональную карьеру в футбольном клубе ЦСКА Москва в 2003 году. С тех пор он стал неотъемлемой частью команды и ее капитаном. Игорь проявил себя как надежный и талантливый вратарь, обладающий отличными рефлексами, хорошей игрой на линии ворот и умением командовать защитой.
            
            Своими высокими результатами Акинфеев привлек внимание крупных европейских клубов. Однако он остался верен ЦСКА Москва и продолжил свою карьеру в этом клубе. В составе ЦСКА Акинфеев выиграл множество трофеев, включая чемпионаты России и Кубок УЕФА.
            
            Игорь Акинфеев также является важным игроком сборной России. Он принял участие в нескольких чемпионатах мира и европы, где проявил свою выдающуюся игру и важность для команды. Он стал рекордсменом по количеству сыгранных матчей за сборную России.
            
            Акинфеев - это не только талантливый вратарь, но и образец профессионализма и преданности своему делу. Его надежность, мастерство и лидерские качества делают его одним из самых уважаемых и успешных футболистов в России и за ее пределами.</p>
        <button onclick="toggleDescription('description2')">Показать описание</button>
    </div>
    <div class="card">
        <img src="/img/Dsaga.jpg" alt="Футболист 3">
        <h3>Алан Дзагоев</h3>
        <p id="description3" class="hidden">Алан Дзагоев - известный российский футболист, который родился 17 июня 1990 года в городе Беслан, Россия. Он является одним из наиболее талантливых и техничных игроков в России.

            Дзагоев начал свою профессиональную карьеру в футбольном клубе ЦСКА Москва, где сразу же проявил свой потенциал и талант. Он выступает в полузащите и является важным звеном своей команды, отличается отличной техникой, а также высоким интеллектом на поле.
            
            В составе ЦСКА Дзагоев выиграл множество трофеев, включая четыре чемпионата России и несколько Кубков страны. Он также имеет опыт выступлений в европейских клубных турнирах, где продемонстрировал свои навыки и способности.
            
            Алан Дзагоев также является важным игроком сборной России. Он принимал участие в нескольких чемпионатах мира и европы, где показал свою классную игру и важность для команды. Он обладает отличным чувством позиции, умеет создавать голевые моменты и является опасным бомбардиром.
            
            Дзагоев - это не только талантливый футболист, но и лидер на поле. Его способность контролировать игру и создавать опасность для соперников делает его важным игроком в любой команде. Алан Дзагоев оставляет свой след в истории российского футбола и является источником гордости для своих поклонников.</p>
        <button onclick="toggleDescription('description3')">Показать описание</button>
    </div>
    <div class="card">
        <img src="/img/Dzuba.jpg" alt="Футболист 4">
        <h3>Артем Дзюба</h3>
        <p id="description4" class="hidden">Описание футболиста Артема Дзюбы</p>
        <button onclick="toggleDescription('description4')">Показать описание</button>
    </div>
    <div class="card">
        <img src="/img/Chern.jpg" alt="Футболист 5">
        <h3>Денис Черышев</h3>
        <p id="description5" class="hidden">Описание футболиста Дениса Черышева</p>
        <button onclick="toggleDescription('description5')">Показать описание</button>
    </div>


</body>
</html>